opencv-python
streamlit
scikit-image
pillow
pixellib
tensorflow-gpu
scikit-image
pillow
pixellib
tensorflow-gpu
pytesseract
streamlit
numpy
Pillow
torch
torchvision
pandas
opencv-python==4.5.3.20210930 
